.blog-home-section {
  padding: 70px 0 130px;
}

.blog-home-posts-wrapper {
  max-width: 794px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.blog-home-post-wrapper {
  &:not(:first-child) {
    border-top: 1px solid #d6d6d6;
    margin-top: 60px;
    padding-top: 60px;
  }
}

.blog-home-post-image {
  width: 100%;
  max-height: 546px;
  object-fit: cover;
}

.blog-home-post-title {
  margin-top: 56px;
  font-weight: 700;
  color: $primary;
}

.blog-home-post-excerpt {
  margin-top: 20px;
  color: $primary;  
}

.blog-home-post-button-wrapper {
  margin-top: 20px;
}

.blog-grid-header {
  margin-bottom: 70px;
  max-width: 794px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.blog-grid-header-title {
  margin-bottom: 2rem;
}
