.a-button, button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 32px;
  border: $borderstyle $links;
  border-bottom: 2px solid $links;  
  border-radius: 0px;
  color: $links;
  font-weight: 500;
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: 150ms;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  &:hover {
    background-color: $links;
    color: white;
  }
}

.a-button--filled {
  background-color: $links;
  color: white;

  &:hover {
    background-color: $background;
    color: $links;
  }
}
