
a {
  color: $links;
  font-weight: 700;    
  position: relative;
  text-decoration: none;
}

.blog-home-section {
  article a {
    font-size: 17px;
    font-weight: 700;
  
    &::before {
      content: "[ ";
    }
  
    &::after {
      content: " ⇥ ]";
    }
  }
}

.bubble, .products-grid-item-wrapper {
  display: block;
  padding: 2rem;
  border-radius: $rad;
  transition: transform 0.3s, box-shadow 0.3s ease;
  box-shadow: 0 0 6px rgba(0,0,0,0);
  cursor: pointer;  
  &:hover {
    @include shadow();
    transform: translate(0,-3px);
    transition: transform 0.3s, box-shadow 0.3s ease;
  }
  &:before {
    content: '';
  }
  &:after {
    content: '';
  }  
}