@import 'overrides';

.logo {
    padding: 0;
    background: none;
    z-index: 100;
    font-family: $font-secondary;
    color: $primary;
    text-align: center;
    vertical-align: middle;
    a {
        color: $primary;
        font-size: 2.4rem;
        letter-spacing: 0.25rem;        
    }
    p {
    }
}
