// Fonts

$font-primary: "ff-tisa-web-pro", serif;
$font-secondary: "fieldwork-hum", helvetica, arial, sans-serif;
$font-code: "source-code-pro", courier, monospace;


//Theme colours

$primary: #333333;
$secondary: blue;
$actionprimary: green;
$actionsecondary: darkgreen;
$warning: orange;
$danger: darkred;
$background: white;
$altbackground: lightgrey;
$border: #333;


//Sizes
 
$size1: 1.8rem;
$size2: 2rem;
$size3: 2.25rem;
$size4: 2.5em;
$size5: 3rem;
$size6: 4rem;
$size7: 5rem;
$size8: 6rem;
$size9: 7rem;

//Transitions

$bubbleanim: translateY(0);

//Borders

$borderweight: 4px;
$bordertype: solid;
$borderstyle: $borderweight $bordertype;
$rad: 0;

//Box shadow

@mixin boxshadow($h: 0px, $v: 6px, $b: 8px, $s: -2px, $brand-color: $altbackground){
    -webkit-box-shadow : $h $v $b $s $brand-color;
    -moz-box-shadow : $h $v $b $s $brand-color;
    box-shadow : $h $v $b $s $brand-color;
}

.shadow, .bubble {
    @include boxshadow();
}