// Fonts

$font-primary: "ff-tisa-web-pro", serif;
$font-secondary: "fieldwork-hum", helvetica, arial, sans-serif;
$font-code: "source-code-pro", courier, monospace;


//Theme colours

$primary: #333333;
$links: rgba(0,0,231,1);
$secondary: #4A807A;
$tertiary: rgb(209, 66, 0);
$actionprimary: green;
$actionsecondary: darkgreen;
$warning: orange;
$danger: darkred;
$background: white;
$altbackground: lightgrey;
$border: #333;


//Sizes

$size0: 1.2rem;
$size1: 1.8rem;
$size2: 2rem;
$size3: 2.25rem;
$size4: 2.5em;
$size5: 3rem;
$size6: 4rem;
$size7: 5rem;
$size8: 6rem;
$size9: 7rem;

//Transitions

$bubbleanim: translateY(0);

//Borders

$borderweight: 4px;
$bordertype: solid;
$borderstyle: $borderweight $bordertype;
$rad: 0;

//Box shadow

@mixin boxshadow($h: 0px, $v: 2px, $b: 5px, $s: -3px, $brand-color: $primary){
    -webkit-box-shadow : $h $v $b $s $brand-color;
    -moz-box-shadow : $h $v $b $s $brand-color;
    box-shadow : $h $v $b $s $brand-color;
}

.shadow, .bubble {
    @include boxshadow();
}

@mixin gradient($colour1: $tertiary, $colour2: $secondary){
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2709c+0,ff9472+100 */
    background: $colour1; /* Old browsers */
    background: -moz-linear-gradient(left,  $colour1 0%, $colour2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $colour1 0%,$colour2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $colour1 0%,$colour2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}