$primary: #333333;
$links: blue;
$secondary: #4A807A;
$tertiary: rgb(209, 66, 0);
$actionprimary: green;
$actionsecondary: darkgreen;
$warning: orange;
$danger: darkred;
$background: white;
$altbackground: lightgrey;
$border: #333;

@mixin gradient {
    background: #c7ffef url('./../images/footer-background.png') no-repeat center;
    background: -moz-linear-gradient(left,  #c7ffef 0%, #f3d0fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #c7ffef 0%,#f3d0fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #c7ffef 0%,#f3d0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ffef', endColorstr='#f3d0fd',GradientType=0 ); /* IE6-9 */
}