$primary: #333333;
$links: blue;
$secondary: #4A807A;
$tertiary: rgb(209, 66, 0);
$actionprimary: green;
$actionsecondary: darkgreen;
$warning: orange;
$danger: darkred;
$background: white;
$altbackground: lightgrey;
$border: #333;

$grad1: rgba(199,255,239,0.4);
$grad2: rgba(243,208,253,0.4);

@mixin shadow {
    box-shadow: 0 0 6px $links;
}

@mixin gradient {
    background: $grad1 url('./../images/footer-background.png') no-repeat center;
    background: -moz-linear-gradient(45deg,  $grad1 0%, $grad2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $grad1 0%, $grad2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  $grad1 0%, $grad2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ffef', endColorstr='#f3d0fd',GradientType=0 ); /* IE6-9 */
}
