$primary: #333333;
$links: blue;
$secondary: #4A807A;
$tertiary: rgb(209, 66, 0);
$actionprimary: green;
$actionsecondary: darkgreen;
$warning: orange;
$danger: darkred;
$background: white;
$altbackground: lightgrey;
$border: #333;

