html {
  color: $primary;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include gradient();
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main {
  min-height: calc(100vh - 513px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

p, li {
  font-size: 1.25rem;
  line-height: 1.75;
  @media (min-width: 700px) {
    font-size: 1.3rem;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.25;  
  @media (min-width: 700px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.75rem;
  @media (min-width: 700px) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
  @media (min-width: 700px) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: normal;
  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.25rem;
  font-style: italic;
  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
}