.header {
  padding: 100px 0 50px;

  @media (max-width: 1000px) {
    padding: 30px 0;
  }
}

.header--is-nav-opened {

  .header-nav {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }

  .header-burger-img--closed {
    opacity: 0;
    visibility: hidden;
  }

  .header-burger-img--opened {
    opacity: 1;
    visibility: visible;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  a {
    font-family: $font-secondary;
  }
}

.header-name {
  flex-shrink: 0;
  font-size: 2rem;
  padding: 10px 20px 20px 20px;
  color: $background;
  background: $primary;
  font-weight: 700;
  background: linear-gradient(to right, $primary 50%, white 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  animation: headerAnim 1.5s ease forwards;  
}

@keyframes headerAnim {
  from {
    background-position:right bottom;
  }

  to {
    background-position:left bottom;
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  color: $primary;
  @media (max-width: 1000px) {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 0;
    padding-top: 13px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: calc(100vh);
    background-color: #f6f6f6;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 150ms;
  }
}

.header-nav-link {
  &:not(:last-child) {
    margin-right: 40px;

    @media (max-width: 1000px) {
      margin-right: 0;
    }
  }

  @media (max-width: 1000px) {
    border-bottom: 1px solid #d6d6d6;
    padding: 30px;
  }
}

.header-burger {
  display: none;
  z-index: 101;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;

  @media (max-width: 1000px) {
    display: inline-block;
  }
}

.header-burger-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 150ms;
}

.header-burger-img--closed {
  opacity: 1;
  visibility: visible;
}

.header-burger-img--opened {
  opacity: 0;
  visibility: hidden;
}
