/**
 * Header
 */

 .products-grid-header {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.products-grid-header-title {
  max-width: 592px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.786;
}

.products-grid-header-button-wrapper {
  @media (min-width: 775px) {
    margin-left: 30px;
  }

  @media (max-width: 774px) {
    margin-top: 30px;
  }
}

/**
 * Items
 */

.products-grid-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1190px;
  margin: auto;
  padding: 0 2rem;
}

.products-grid-item-wrapper {
  max-width: 100%;
  margin: 2rem auto;
}

.products-grid-item-image {
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.products-grid-item-name {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  &::before {
    content: "[ ";
    color: $links;
  }
  &::after {
    content: " ⇥ ]";
    color: $links;
  }  
}

.products-grid-item-subtitle {
  margin-top: 10px;
  color: $primary;
  text-align: center;
}
